<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p>{{ msg }}</p>
      <input type="text" v-model="msg" value="sdfsdf" />
      <hr />
      <p>{{ desc }}</p>
      <textarea v-model="desc"></textarea>
      <hr />
      <p>{{ hobbyId }}</p>
      <select v-model="hobbyId">
        <option value="1">吃饭</option>
        <option value="2">睡觉</option>
        <option value="3">敲代码</option>
      </select>
      <hr />
      <p>{{ isDan }}</p>
      <input type="checkbox" v-model="isDan" checked />是否单身
    </div>

    <script src="./vue.js"></script>
    <script>
      /* 
         表单元素如果设置了 v-model 那么就会忽略掉默认的 value checked 等初始值
         v-model作用于其他元素
         textarea  select/option input:checkbox


      */
      const vm = new Vue({
        el: "#app",
        data: {
          msg: "hello vue",
          desc: "月月鸟",
          hobbyId: 3,
          isDan: true,
        },
      });
    </script>
  </body>
</html>
